<p>Hi <strong>{{ user.username }}</strong>,</p>

<p>Cảm ơn bạn đã đăng ký tài khoản tại website, bạn vui lòng bấm vào nút xác nhận để xác thực tài khoản:</p>

<button style="border: none; border: 1px solid green; color: white; background-color: green; padding: 10px 20px; cursor: pointer;"><a href="{{ confirm_url }}" style="color: white; text-decoration: none; font-weight: bold;">Xác nhận</a></button>

<p style="font-style: italic;">Nếu không phải là bạn, vui lòng bỏ qua email này.</p>

<p>Xem phim vui vẻ,<br>Admin</p>
