{% extends 'base.html' %}
{% load static %}
{% block title %}Quên Mật Khẩu{% endblock %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/forgot-password.css' %}">
{% endblock %}

{% block content %}
<div class="forgot-password-container">
  <form class="forgot-password-form" method="post">
    {% csrf_token %}
    <h2>Khôi phục mật khẩu</h2>
    {% if messages %}
      <div class="forgot-password-messages">
        {% for message in messages %}
          <div class="forgot-password-message">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <label for="username">Tên đăng nhập</label>
    <input id="username" type="text" name="username" placeholder="Nhập tên đăng nhập của bạn" required>

    <button type="submit" class="btn-forgot-password">Gửi yêu cầu khôi phục</button>
  </form>
</div>
{% endblock %}
