{% extends 'base.html' %}
{% load static %}
{% block title %}Quên Mật Khẩu{% endblock %}

{% block content %}
<div class="auth-container">
  <form class="auth-form" method="post">
    {% csrf_token %}
    <h2>Khôi phục mật khẩu</h2>
    <!-- Display messages -->
    {% if messages %}
      <div>
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <label for="username">Tên đăng nhập</label>
    <input id="username" type="text" name="username" placeholder="Nhập tên đăng nhập của bạn" required>

    <button type="submit" class="btn-auth">Gửi yêu cầu khôi phục</button>
  </form>
</div>
{% endblock %}
