{% extends 'base.html' %}
{% load static %}
{% block title %}Đăng Nhập{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
  <!-- Tabs -->
  <div class="auth-tabs">
    <a href="{% url 'users:user_login' %}" class="tab active">ĐĂNG NHẬP</a>
    <a href="{% url 'users:register' %}" class="tab">ĐĂNG KÝ</a>
     {% if messages %}
    <div>
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% endif %} 
  </div>
{% if messages %}
  <div class="messages-container">
    {% for message in messages %}
      <div class="message {{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>D
{% endif %}


  <!-- Form -->
  <form class="auth-form" method="post">
    {% csrf_token %}
    <label for="username">Tên đăng nhập</label>
    <input id="username" type="text" name="username" placeholder="Nhập username" required>

    <label for="password">Mật khẩu</label>
    <input id="password" type="password" name="password" placeholder="Nhập mật khẩu" required>

    <button type="submit" class="btn-auth">Đăng Nhập</button>
    <a href="{% url 'users:forget_password' %}" class="forgot">Quên mật khẩu?</a>
  </form>
</div>
{% endblock %}
